* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

/* global sections */
.section__two, .section__three, .section__four, .section__five, .section__six {
    padding: 30px 0;
    text-align: center;
}
/* global sections */

/* header */
header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #afddfb;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    position: relative;
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    font-size: 18px;
    color: #1d1d1d;
    text-decoration: none;
    border-bottom: 2px solid #1d1d1d;
    margin: 0 10px;
    padding-bottom: 2px;
    transition: .3s;
}

.links a:hover {
    border-bottom: 4px solid #1d1d1d;
    background-color: rgba(29, 129, 195, 0.2);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
    color: #fff81b;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8); 
    padding: 10px 14px;
    border-radius: 5px;
}

header .logo {
    width: 80px;
}
/* header */

/* glopal paragraph */
p {
    width: 980px;
    margin: 10px auto;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}
/* glopal paragraph */

.strong-blue {
    color: #1d80c1;
}

/* section__two */
.section__two {
    padding: 0;
    min-height: calc(100vh);
    background-image: url(/images/banner-2.png);
    background-repeat: none;
    background-size: cover;
}

.section__two  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__two h1 {
    font-size: 52px;
    background-color: rgba(177, 222, 251, 0.6);
    color: #ffffff;
    padding: 20px;
    font-style: italic;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}
/* section__two */

/* section__three */

.section__three {
    min-height: calc(100vh - 80px);
    padding-bottom: 0;
}

.section__three__images .image-one {
    margin-right: 30px;
}

.section__three__images .image-two {
    margin-bottom: -50px;
    margin-left: 30px;
}

.section__three h2 {
    font-size: 26;
    color: #1d80c1;
    line-height: 42px;
    font-weight: normal;
    margin-bottom: 30px;
}

.section__three img {
   width: 450px;
   box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
}

.section__three p {
    margin-top: 90px;
}


.section__three__images__two {
    width: 980px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.section__three__images__two img {
    width: 120px;
    display: block;
}
/* section__three */

/* section__four */
.section__four {
    background-color: #1d80c1;
    min-height: calc(100vh - 80px);
}

.section__four h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 30px;
}

.section__four p {
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
}

.strong-four {
    color: #fff81b;
}

.section__four ul {
    display: flex;
    width: 980px;
    margin: 40px auto;
    
}
.section__four ul li{
    color: #ffffff;
    line-height: 42px;
    text-align: center;
    list-style: none;
    font-size: 22px;
    margin: 20px;
    
}

.section__four ul li img {
    transition: .3s ease;
    margin-top: 30px;
}

.section__four ul li img:hover {
    transform: scale(1.1);
    box-shadow: 4px 6px 8px rgba(255, 255, 255, 0.6);
}

/* section__four */


/* section__five */
.section__five {
    min-height: calc(100vh - 80px);
    background-image: url(/images/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section__five__content {
    /* background-color: rgba(177, 222, 251, 0.8); */
    width: 980px;
    margin: 0 auto;
}

.section__five h3 {
    font-size: 28px;
    line-height: 42px;
    color: #1d80c1;
    margin-bottom: 30px;
}

.section__five img {
    width: 450px;
}

.section__five p {
    margin-top: 20px;
}

.section__five__content__paragraph {
    padding: 30px;
    background-color: rgba(177, 222, 251, 0.6);
    border-radius: 30px;
}
.section__five__content__paragraph a {
    text-decoration: none;
    border-bottom: 2px solid #1d1d1d;
    transition: .3s;
}
.section__five__content__paragraph a:hover {
    border-bottom: 4px solid #1d1d1d;
    font-size: 19px;
}

.section__five__content > p {
    margin-top: 30px;
}
/* section__five */

/* section__six */
.section__six {
    background-color: #1d80c1;
    min-height: 100vh;
}

.section__six h3 {
    font-size: 28px;
    color: #ffffff;
    line-height: 42px;
    margin-bottom: 20px;
}

.section__six iframe {
    border-radius: 5px;
    width: 980px;
    height: 420px;
}

.section__six p {
    background-color: #1d1d1d;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px;
    margin: 30px auto;
    text-align: center;
}

.section__six h4 {
    font-size: 18px;
    color: #ffffff;
}


.section__six  a {
    display: block;
    color: #ffffff;
    transition: .3s ease-in-out;
    font-size: 15px;
    margin-top: 20px;
}

.section__six  a:hover {
    font-size: 16px;
}
/* section__six */
