* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
}

img {
    max-width: 100%;
}

header, .section__two, .section__three, .section__four, .section__five, .section__six {
    padding: 30px 0;
    text-align: center;
}

header {
    background-color: #afddfb;
}

header nav {
    margin: 25px auto;
}

header nav a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}

header .logo {
    width: 150px;
}

p {
    width: 980px;
    margin: 10px auto;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

/* section__two */
.section__two {
    margin-top: 50px;
    padding: 0;
}

