* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

header, .section__two, .section__three, .section__four, .section__five, .section__six {
    padding: 30px 0;
    text-align: center;
}

header {
    background-color: #afddfb;
}

header nav {
    margin: 25px auto;
}

header nav a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}

header .logo {
    width: 150px;
}

p {
    width: 980px;
    margin: 10px auto;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}


.strong-blue {
    color: #1d80c1;
}

/* section__two */
.section__two {
    margin-top: 50px;
    padding: 0;
}

.section__two img {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
}

.section__three h1 {
    font-size: 30px;
    color: #1d1d1d;
    margin-bottom: 5px;
}

.section__three h2 {
    font-size: 26;
    color: #1d80c1;
    line-height: 42px;
    font-weight: normal;
    margin-bottom: 20px;
}

.section__three img {
   width: 450px;
   box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
}

.section__three p {
    margin-top: 20px;
}

.section__four {
    background-color: #1d80c1;
}

.section__four h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.section__four p {
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
}

.strong-four {
    color: #fff81b;
}

.section__four ul {
    margin: 40px auto;
    width: 135px;
}
.section__four ul li{
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

.section__five h3 {
    font-size: 28px;
    line-height: 42px;
    color: #1d80c1;
    margin-bottom: 20px;
}

.section__five img {
    width: 450px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
}

.section__five p {
    margin-top: 20px;
}

.section__six {
    background-color: #1d80c1
}

.section__six h3 {
    font-size: 28px;
    color: #ffffff;
    line-height: 42px;
    margin-bottom: 20px;
}

.section__six iframe {
    border-radius: 5px;
    width: 450px;
}

.section__six p {
    background-color: #1d1d1d;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px;
    margin: 30px auto;
    text-align: center;
}

.section__six ul {
    margin: 40px auto;
    list-style: none;
    width: 100%;
}

.section__six ul li {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}
.section__six ul li a {
    color: #ffffff;
    transition: .3s ease-in-out;
}

.section__six ul li a:hover {
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
}

