* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
}

img {
    max-width: 100%;
}

header, .section__two, .section__three, .section__four, .section__five, .section__six {
    padding: 30px 0;
    text-align: center;
}

header nav a {
    margin: 10px auto;
}

header img {
    width: 150px;
}

p {
    width: 980px;
    margin: 10px auto;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

